body{
  padding-top:80px;
  word-wrap:break-word;
  background-image: url('img/csgobackground.jpeg');
}
img{
  height: 200px;
}
li{
  margin-left: 25%;
  margin-right: 25%;
  list-style-type: none;
  background-color: rgba(7, 0, 0, 0.192);
  text-align: center;
  color: ivory
 }
 #upload{
  background-color: rgba(7, 0, 0, 0.192);
  color: ivory
 }
 h1{
  color: ivory;
}
h3{
  color: ivory;
}
label{
  color: ivory;
}
p{
  color: ivory;
}
.black{
  color: black;
}